* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
}

#header {
    background-color: orangered;
}

#footer {
    background-color: purple;
}

.content {
    display: flex;
    flex: 1;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    color: white;
}

#column1 {
    width: 25%;
    background-color: rgb(93, 93, 190);
}

#column2 {
    width: 50%;
    background-color: blue;
}

#column3 {
    width: 25%;
    background-color: green;
}
